* {
    box-sizing: border-box;
}

body {
    background: magenta; /* Will be overruled by later rule */
    font-family: sans-serif;
    margin: 1em;
}

#nononono {
    color: magenta;
}

.test { 
    color: red;
    font-size: 1em;
    padding: 1em; 
}

/* Body second time */
body {
    background: #f8f8f8;
    margin: 0;
}

.test,
.test1
{ 
    color: magenta; /* This should ever be active */
}

.test1 {
    background: #eee;
    color: #333;
    overflow: hidden;
    padding: 1em;
}

@media all and (min-width: 10000px) {
    .test .test2 { 
        color: magenta;
    } 

    /* .test2 is defined in a media query before the base class. */
    body, .test2 {
        background: magenta;
    }
}

.test2 
{
    background: #f8f8f8;
    margin: 1em; /* Should be the first appearance */
} 

.test3 {
    color: magenta;
    padding: 1em;
} 

.test1 a, .test1 a:hover {
    color: black;
}

@media all and (min-width: 9900px) {
    .test .test2 { 
        color: red;
    } 
}
